body{
    /*      */
    background-color: #ccc;
    font-family:Verdana, Tahoma, sans-serif
}

h1, h2, h3{
    /*      */
    background-color: #aaa;
}


div{
    border: 2px groove black

}

/* 

p{

}

ul{

}

.logo {

}

   End of site-wide    */

/*  Block  */
.btn{
    text-decoration: none;
    background-color: #fff;
    color: #555;
    border-radius: 10px;
    border-style: ridge;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
}

/*  Dbl Underscore for child Element  */
.btn__miles {
    /*background-color: #eee;*/
    background-color: #eee;
    background-color: #333;
    opacity: .4;
    padding-left: 12px;
    padding-right: 12px;
    /*  realign button text padding  
    margin-right: -10px;*/
    font-weight: 600;
    border-radius: 5px;
}

    .btn__text {
        padding: 0 10px;
        border-radius: 5px;
    }

    .btn--big{
        font-size: 28px;
        padding: 10px;
        font-weight: 400;
    }

    .btn--blue{
        border-color: #00f;
        color: #ddb;
        background-color: #22f;
    }

    .btn--orange {
        background-color: #d70;
        border-color: #fa0;
        color: #bcd;
    }

    .btn--green {
        background-color: #050;
        border-color: #0f0;
        color: #bcd;
    }

    .accordian1 {
        max-width: 600px;
        margin: 4rem auto;
        width: 90%;
        background: #ddd;
    }
    .accordian1__title{
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1rem 1.5rem;
        background: #5B5F97;
        color: white;
        cursor: pointer;
        transition: .3s ease;
      }
      .accordion__title:hover {
        background: #484b77;
      }
      .accordion__copy {
        display: none;
        padding: 1rem 1.5rem 2rem 1.5rem;
        color: gray;
        line-height: 1.6;
        font-size: 14px;
        font-weight: 500;
      }
      .accordion__copy--open {
        display: block;
      }
      
      /* swap to div
      body {
        background: #222;
      }
        */