body{
    /*      */
    background-color: #ccc;
    font-family:Verdana, Tahoma, sans-serif;
    
}

h1, h2, h3{
    /*      */
    background-color: #aaa;
    border: 5px groove black;
}


  .div1 {
    border-top-width: thin;
    border-right-width: medium;
    border-bottom-width: thick;
    border-left-width: 5rem;
    border-top-style: double;
    border-right-style: inset;
    border-bottom-style: outset;
    border-left-style: groove;
    border-top-color: #f00;
    border-right-color: #0f0;
    border-bottom-color: #00f;
    border-left-color: #a40;
    outline-style: ridge;
    outline-color:  #033;
  }


.p1{
    /*lack of a margin, restricted left border layout; of the wide wood tone 3 stack div  */
    margin: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
    padding: 1em;
    background-color: #ccc;
    border: 3px groove #0a0;
    border-radius: .5rem;
    outline-style: double;
    outline-color:  #a0a;
}


.with_margin {
    margin: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
    border-width: 1rem;
    border-radius: 1rem;
    border-style: outset;
    border-color: #033;
    background-color: #aaa;
    outline-offset: .1rem;
    outline: .1rem solid #c80;
}

.alt_bg {
    background-color: #f28;
    border-style: double;
}

.dim_red {
    border-color: #300;
    border-radius: 2rem;
    border-style: inset;
}
/*   END of Template  ****      END of Template  ****   
*/

.dropbtn {
    background-color: #4a5;
    color: #eee;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*  Display none hides the content until needed.  
        Anchored to parent*/
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #384;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}